<!DOCTYPE html>
<html>

<head>
    <title>City</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h1>{{ city|capitalize }}</h1>
    <h2>Datos recopilados del Orion Context Broker</h2>
    <p style="font-size: large;">Se han encontrado {{ routes|length }} rutas de transporte y {{ stops|length }} paradas.</p>

    <a href="/routes" class="btn btn-primary">Ver rutas</a>
    <a href="/stops" class="btn btn-primary">Ver paradas</a>

    <h2>Routes</h2>
    <ul>
        {% for route in routes %}
        <li>{{ route.name }}</li>
        {% endfor %}
    </ul>

    <h2>Stops</h2>
    <ul>
        {% for stop in stops %}
        <li>{{ stop.name }}</li>
        {% endfor %}
    </ul>
</body>

</html>