<head>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/header.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<header class="header">
    <a href="/" style="display: inline-flex; align-items: center; color: inherit; text-decoration: none;">
        <img class="logo-header" src="{{ url_for('static', filename='images/logo_claro_transparente.png') }}" alt="Logo">
        <h1>Urban Mobility Manager</h1>
    </a>
</header>