<!DOCTYPE html>
<html>

<head>
    <title>Urban Mobility Manager</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_claro_transparente.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    {% include 'header.html' %}

    <main>
        <section>
            <div class="row">
                <div class="col-md-6">
                    <h2>¿Qué es Urban Mobility Manager?</h2>
                    <h4>Urban Mobility Manager es una aplicación web que permite administrar datos de transporte público
                        en diferentes ciudades. La aplicación proporciona información recopilada desde el simulador SUMO
                        sobre las líneas de autobús, metro y tren de cercanías, así como las paradas de transporte
                        público de la ciudad. Además, ofrece la posibilidad de editar rutas y relanzar simulaciones.
                    </h4>
                </div>
                <div class="col-md-6 image-container">
                    <img class="logo-grande"
                        src="{{ url_for('static', filename='images/logo_letras_claro_transparente.png') }}" alt="Logo">
                </div>
            </div>

            <div class="row button-container">
                <div>
                    <a href="/SUMO-conversion" class="btn btn-primary">Empezar</a>
                </div>
            </div>
        </section>
    </main>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>