<!DOCTYPE html>
<html>

<head>
    <title>Urban Mobility Manager</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_claro_transparente.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/index.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>

<body>
    <header class="header">
        <img class="logo-grande-icon" src="{{ url_for('static', filename='images/logo_letras_claro_transparente.png') }}"
            alt="Logo">
        <h1>Urban Mobility Manager</h1>
    </header>
    <p class="centered-text">Esta será la interfaz web para el manejo de datos de tráfico urbano del simulador SUMO</p>
    <div class="center-text">
        <a href="/SUMO-conversion" class="btn btn-primary">Empezar</a>
    </div>

    <footer class="footer">
        <img class="logo-icon" src="{{ url_for('static', filename='images/logo_claro_transparente.png') }}"
            alt="Logo">
        <p>© 2024</p>
        <a href="/about">Sobre el proyecto</a>
        <p>Realizado por Jaime Gallego Chillón</p>
    </footer>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>