<!DOCTYPE html>
<html>

<head>
    <title>Routes</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>

<body>
    <h1>Rutas de transporte en {{ city|capitalize }}</h1>

    <h2>Líneas de autobús</h2>

    <ul>
        {% for route in bus_routes %}
        <li>{{ route.name }}</li>
        {% endfor %}
    </ul>

    <h2>Líneas de tren</h2>

    <ul>
        {% for route in train_routes %}
        <li>{{ route.name }}</li>
        {% endfor %}
    </ul>

    <h2>Líneas de metro</h2>

    <ul>
        {% for route in subway_routes %}
        <li>{{ route.name }}</li>
        {% endfor %}
    </ul>

    <a href="/" class="btn btn-primary">Volver</a>
</body>

</html>