<!DOCTYPE html>
<html>
<head>
    <title>Urban Mobility Manager</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/logo_claro_transparente.png') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/routeDetails.css') }}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
    {% include 'header.html' %}

    <main>
        <section>
            <h2>{{ route.name.value }}</h2>
            <div class="route-details">
                <h3>Identificador: {{ route.routeCode.value }}</h3>
                <h3>Código: {{ route.shortRouteCode.value }}</h3>
                <h3>Transporte: {{ route.transportationType.value }}</h3>
                <h3>Color: {{ route.routeColor.value }}</h3>
                <h3>Segmentos: </h3>
                <div class="d-flex flex-wrap">
                    {% if route.routeSegments.value == "No data available" %}
                    <p>No existen datos de los segmentos para esta ruta</p>
                    {% else %}
                    {% for segment in route.routeSegments.value %}
                    <div class="card m-2" style="min-width: 8rem; max-width: 20rem;">
                        <div class="card-body">
                            <h5 class="card-title">{{ segment.segmentName or "Desconocido" }}</h5>
                        </div>
                    </div>
                    {% endfor %}
                    {% endif %}
                </div>
            </div>
            <a href="/cities/{{ city }}/routes" class="btn btn-primary mt-3">Volver</a>
            <button class="btn btn-danger mt-3" id="deleteButton">Eliminar</button>
        </section>
    </main>

    {% include 'footer.html' %}

    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script>
        $('#deleteButton').click(function () {
            if (confirm('¿Está seguro de que desea eliminar esta ruta?')) {
                var city = '{{ city }}';
                var shortRouteCode = '{{ route.shortRouteCode.value }}';
                var routeCode = '{{ route.routeCode.value }}';

                $.ajax({
                    url: '/cities/' + city + '/routes/' + shortRouteCode + '/' + routeCode,
                    type: 'DELETE',
                    success: function (result) {
                        window.location.href = '/cities/' + city + '/routes';
                    }
                });
            }
        });
    </script>
</body>
</html>