/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #303840;
}

/* MAIN */
main {
    flex-grow: 1;
    background-color: #F2F2F2;
    padding: 20px;
}

/* Imagen mapa ciudad */
.mapa {
    width: 500px;
    height: auto;
    margin-right: 20px;
}