/* HEADER */
/* Estilos para el encabezado */
.header {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Texto centrado */
.center-text {
    text-align: center;
}

/* Logo grande */
.logo-grande-icon {
    width: 150px;
    height: auto;
    margin-right: 20px;
}

/* FOOTER */
/* Estilos para el pie de página */
.footer {
    margin-top: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
}

.footer p, .footer a {
    margin: 0 10px;
}

/* Logo pequeño */
.logo-icon {
    width: 50px;
    height: auto;
    margin-right: 20px;
}