/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #303840;
}

/* MAIN */
main {
    flex-grow: 1;
    background-color: #F2F2F2;
    padding-left: 60px;
    padding-right: 60px;
    padding-bottom: 20px;
}

/* Imagen mapa ciudad */
.mapa {
    width: 500px;
    height: auto;
    margin-right: 20px;
}

.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.3);
}

/* Switch flujo de personas */
.form-check {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-left: -20px;
}

#flexSwitchCheckDefault {
    margin-left: 10px;
}

/* Botón de simular */
#simulate {
    margin-right: 10px;
}