/* BODY */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: #303840;
}

/* MAIN */
main {
    flex-grow: 1;
    background-color: #F2F2F2;
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#citySelect {
    width: 300px;
    margin: 0 auto;
    display: block;
}

.center-div {
    display: flex;
    justify-content: center;
}

.btn-group {
    gap: 20px;
}

.btn {
    display: block;
    margin: 20px auto;
}

.center-spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
    background: rgba(0,0,0,0.3);
}

/* Imagen mapa general */
.mapa {
    width: 500px;
    height: auto;
    margin-right: 20px;
}